USE [master]
GO
/****** Object:  Database [SpaManagement]    Script Date: 12/20/2021 10:13:12 AM ******/
CREATE DATABASE [SpaManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SpaManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SpaManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SpaManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SpaManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SpaManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SpaManagement]
GO
/****** Object:  Table [dbo].[CTDT]    Script Date: 12/20/2021 10:13:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDT](
	[MABS] [nvarchar](100) NOT NULL,
	[MALT] [nvarchar](100) NOT NULL,
	[SOHD] [nvarchar](100) NOT NULL,
	[SOLUONG] [int] NULL,
	[THANHTIENLT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MABS] ASC,
	[MALT] ASC,
	[SOHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 12/20/2021 10:13:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[SOHD] [nvarchar](100) NOT NULL,
	[MAMP] [nvarchar](100) NOT NULL,
	[THANHTIENMP] [int] NULL,
	[SOLUONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC,
	[MAMP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/20/2021 10:13:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[SOHD] [nvarchar](100) NOT NULL,
	[MAKH] [nvarchar](100) NULL,
	[TONGTIEN] [int] NULL,
	[MANV] [nvarchar](100) NULL,
	[NGAYTAO] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/20/2021 10:13:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [nvarchar](100) NOT NULL,
	[HOTEN] [nvarchar](100) NOT NULL,
	[GIOITINH] [int] NOT NULL,
	[NAMSINH] [date] NOT NULL,
	[DIENTHOAI] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIEUTRINH]    Script Date: 12/20/2021 10:13:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIEUTRINH](
	[MALT] [nvarchar](100) NOT NULL,
	[TENLT] [nvarchar](100) NULL,
	[THOIGIANDT] [int] NULL,
	[GIATIEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MALT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LUONGBS]    Script Date: 12/20/2021 10:13:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUONGBS](
	[MABS] [nvarchar](100) NULL,
	[MATT] [nvarchar](100) NOT NULL,
	[NGAYTT] [date] NOT NULL,
	[TIENTHUONG] [int] NULL,
	[TONGTIEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MATT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LUONGNV]    Script Date: 12/20/2021 10:13:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUONGNV](
	[MANV] [nvarchar](100) NULL,
	[MATT] [nvarchar](100) NOT NULL,
	[NGAYTT] [date] NOT NULL,
	[TONGTIEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MATT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MYPHAM]    Script Date: 12/20/2021 10:13:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MYPHAM](
	[MAMP] [nvarchar](100) NOT NULL,
	[TENMP] [nvarchar](100) NOT NULL,
	[SOLUONGTONKHO] [int] NOT NULL,
	[GIABAN] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAPMP]    Script Date: 12/20/2021 10:13:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAPMP](
	[MANMP] [nvarchar](100) NOT NULL,
	[MAMP] [nvarchar](100) NULL,
	[DONGIA] [int] NULL,
	[NGAYNHAP] [date] NOT NULL,
	[SLNHAP] [int] NULL,
	[THANHTIENDH] [int] NULL,
	[MANV] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANMP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLBS]    Script Date: 12/20/2021 10:13:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLBS](
	[MABS] [nvarchar](100) NOT NULL,
	[HOTEN] [nvarchar](100) NOT NULL,
	[GIOITINH] [int] NOT NULL,
	[SDT] [nvarchar](50) NOT NULL,
	[LUONG] [int] NULL,
	[NBDHD] [date] NOT NULL,
	[NKTHD] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MABS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLNV]    Script Date: 12/20/2021 10:13:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLNV](
	[MANV] [nvarchar](100) NOT NULL,
	[HOTEN] [nvarchar](100) NOT NULL,
	[GIOITINH] [int] NOT NULL,
	[SDT] [nvarchar](50) NOT NULL,
	[NBDHD] [date] NOT NULL,
	[NKTHD] [date] NOT NULL,
	[PASS] [nvarchar](100) NOT NULL,
	[LUONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[QLNV] ([MANV], [HOTEN], [GIOITINH], [SDT], [NBDHD], [NKTHD], [PASS], [LUONG]) VALUES (N'NV0', N'admin_', 1, N'1', CAST(N'2001-12-19' AS Date), CAST(N'2021-12-19' AS Date), N'123456', 1)
GO
ALTER TABLE [dbo].[CTDT]  WITH CHECK ADD  CONSTRAINT [fk_CTHD_HOADON] FOREIGN KEY([SOHD])
REFERENCES [dbo].[HOADON] ([SOHD])
GO
ALTER TABLE [dbo].[CTDT] CHECK CONSTRAINT [fk_CTHD_HOADON]
GO
ALTER TABLE [dbo].[CTDT]  WITH CHECK ADD  CONSTRAINT [fk_CTHD_LT] FOREIGN KEY([MALT])
REFERENCES [dbo].[LIEUTRINH] ([MALT])
GO
ALTER TABLE [dbo].[CTDT] CHECK CONSTRAINT [fk_CTHD_LT]
GO
ALTER TABLE [dbo].[CTDT]  WITH CHECK ADD  CONSTRAINT [fk_CTHD_QLBS] FOREIGN KEY([MABS])
REFERENCES [dbo].[QLBS] ([MABS])
GO
ALTER TABLE [dbo].[CTDT] CHECK CONSTRAINT [fk_CTHD_QLBS]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [fk_CTHD_HD] FOREIGN KEY([SOHD])
REFERENCES [dbo].[HOADON] ([SOHD])
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [fk_CTHD_HD]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [fk_CTHD_MP] FOREIGN KEY([MAMP])
REFERENCES [dbo].[MYPHAM] ([MAMP])
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [fk_CTHD_MP]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [fk_HD_KH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [fk_HD_KH]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [fk_HD_QLNV] FOREIGN KEY([MANV])
REFERENCES [dbo].[QLNV] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [fk_HD_QLNV]
GO
ALTER TABLE [dbo].[LUONGBS]  WITH CHECK ADD  CONSTRAINT [fk_LUONGBS_QLBS] FOREIGN KEY([MABS])
REFERENCES [dbo].[QLBS] ([MABS])
GO
ALTER TABLE [dbo].[LUONGBS] CHECK CONSTRAINT [fk_LUONGBS_QLBS]
GO
ALTER TABLE [dbo].[LUONGNV]  WITH CHECK ADD  CONSTRAINT [fk_LUONGNV_QLNV] FOREIGN KEY([MANV])
REFERENCES [dbo].[QLNV] ([MANV])
GO
ALTER TABLE [dbo].[LUONGNV] CHECK CONSTRAINT [fk_LUONGNV_QLNV]
GO
ALTER TABLE [dbo].[NHAPMP]  WITH CHECK ADD  CONSTRAINT [fk_NHAPMP_MYPHAM] FOREIGN KEY([MAMP])
REFERENCES [dbo].[MYPHAM] ([MAMP])
GO
ALTER TABLE [dbo].[NHAPMP] CHECK CONSTRAINT [fk_NHAPMP_MYPHAM]
GO
ALTER TABLE [dbo].[NHAPMP]  WITH CHECK ADD  CONSTRAINT [fk_NHAPMP_QLNV] FOREIGN KEY([MANV])
REFERENCES [dbo].[QLNV] ([MANV])
GO
ALTER TABLE [dbo].[NHAPMP] CHECK CONSTRAINT [fk_NHAPMP_QLNV]
GO
USE [master]
GO
